<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:usesCleartextTraffic="true">
        <activity android:name="com.nuvio.hi10video.High10SurfaceTestActivity"
            android:exported="false" android:theme="@android:style/Theme.Material.Light.NoActionBar" />
    </application>
</manifest>
